$xs-max-width: 599px;

$sm-min-width: 600px;
$sm-max-width: 959px;

$md-min-width: 960px;
$md-max-width: 1264px;

$lg-min-width: 1263px;
$lg-max-width: 1904px;

$xl-min-width: 1903px;

@mixin device($br) {
  @if $br==xs {
    @media only screen and (max-width: $xs-max-width) {
      @content;
    }
  }

  @if $br==sm {
    @media only screen and (min-width: $sm-min-width) and (max-width: $sm-max-width) {
      @content;
    }
  }

  @if $br==md {
    @media only screen and (min-width: $md-min-width) and (max-width: $md-max-width) {
      @content;
    }
  }

  @if $br==lg {
    @media only screen and (min-width: $lg-min-width) and (max-width: $lg-max-width) {
      @content;
    }
  }

  @if $br==xl {
    @media only screen and (min-width: $xl-min-width) {
      @content;
    }
  }
}